<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  
  <groups>
  <define  name= "group 1">
  
  <include name ="Sanity"></include>
  <include name ="Regression"></include>
  
   </define>
   
   <define  name= "group 2">
  
  <include name ="Retest"></include>
  <include name ="Regression"></include>
  
   </define>
   
  <run>
  <include name = "group 2"></include>
  </run>
  
  </groups>
    <classes>
      <class name="org.test.A"/>
      <class name="org.test.B"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
